.custom-tooltip {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(219, 219, 219);
    padding: 1em 1em 0 1em;
    white-space: nowrap;
}

.bubble-chart {
    text-align: center;
}

.bubble-chart-subtitle {
    color:rgb(115, 115, 115);
    padding: 0.2em 0 0 0;
    margin: 0;
    font-size: 14pt;
}