.state-card:hover {
  transform: scale(1.03);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
    0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
    0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
  outline: hsla(240, 30.1%, 28%, 0.12);
}

.state-card-overlay {
  height: 100%;
  background: linear-gradient(#ffffff00, #00000093);
  /* align-items: flex-end; */
}

.state-card-image {
  color: aqua;
  height: 180px;
  object-fit: cover;
}

.state-card-title {
  color: white;
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
