.state-inst {
  /* margin-top: 2em; */
  padding-top: 18em;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.state-image {
  /* margin-top: 1em; */
  /* margin-bottom: 1em; */
  width: 100%;
}

.state-geninfo {
  padding-left: 0.5em;
  padding-top: 0.5em;
}

.state-congbill-card {
  padding-top: 0.5em;
  margin-bottom: 1em;
  color: aliceblue;
  margin-right: 1em;
  background-color: rgba(33, 37, 41, 0.829);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 50px;
}

.state-billtable {
  color: aliceblue;
}

.state-row-1 {
  margin-top: 3em;
}

.state-row-2 {
  margin-bottom: 2em;
}

.state-row-3 {
  margin-bottom: 2em;
}

.state-side-desc {
  background-color: antiquewhite;
}

.state-under-desc {
  font-size: 1.5em;
}

.state-cong-list {
  font-size: 2em;
}

.state-cong-col {
  margin-bottom: 1em;
}

.state-geninfo-title {
  padding-top: 0.5em;
}

.state-image-col {
  /* margin-left: 1em; */
  padding-top: 0.5em;
  color: rgb(255, 255, 255);
  font-size: 16pt;
  margin-right: 1em;
  background-color: rgba(33, 37, 41, 0.829);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 50px;
}

.state-title {
  font-size: 3em;
  color: aliceblue;
  text-shadow: 0px 3px 8px #000000;
}

.state-container {
  background-color: rgba(224, 230, 240, 0);
  color: black;
  box-shadow: rgba(0, 0, 0, 0.233) 0px 5px 15px;
}
