.bill-inst {
  padding-top: 18em;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.bill-image {
  margin-top: 1em;
  margin-bottom: 1em;
  height: 30em;
}

.bill-name {
  font-size: 3em;
  color: aliceblue;
  text-shadow: 0px 3px 8px #000000;
}

.bill-desc {
  padding: 0.5em;
  margin-bottom: 1em;
  color: rgb(255, 255, 255);
  font-size: 14pt;
  background-color: rgba(33, 37, 41, 0.829);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 50px;
}

.bill-stats {
  padding: 0.5em;
  margin-bottom: 1em;
  color: rgb(255, 255, 255);
  font-size: 14pt;
  background-color: rgba(33, 37, 41, 0.829);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 50px;
}

.bill-pdf {
  padding: 0.5em;
  margin-bottom: 1em;
  margin-left: 1em;
  color: rgb(255, 255, 255);
  font-size: 14pt;
  background-color: rgba(33, 37, 41, 0.829);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 50px;
}

.bill-geninfo {
  padding-bottom: 1em;
}

.bill-state-card {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: rgb(255, 255, 255);
  margin-right: 1em;
  background-color: rgba(33, 37, 41, 0.829);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 50px;
}

.bill-cong-card {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: rgb(255, 255, 255);
  margin-right: 1em;
  margin-bottom: 1em;
  background-color: rgba(33, 37, 41, 0.829);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 50px;
}

.bill-row-1 {
  margin-top: 3em;
}

.bill-row-2 {
  margin-bottom: 2em;
}

.bill-side-desc {
  background-color: antiquewhite;
}

.bill-under-desc {
  font-size: 1.5em;
}

.bill-cong-list {
  font-size: 2em;
}

.bill-cong-col {
  margin-bottom: 1em;
}

.bill-image-col {
  text-align: center;
}

.bill-title {
  font-size: 3em;
}

.bill-container {
  background-color: rgb(224, 230, 240);
  color: black;
  box-shadow: rgba(0, 0, 0, 0.233) 0px 5px 15px;
}
