.dropdown-menu {
  padding: 0 !important;
}

.menu-list {
  max-height: 250px;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.menu-item {
  display: flex;
  max-width: 1000px;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 0.2rem 0;
  gap: 1em;
}

.form-check-inline {
  margin: 0 !important;
}

.form-label {
  margin: 0.25em 0 !important;
  white-space: nowrap;
}

#clear-btn {
  padding: 0;
  margin-bottom: 0.5rem; 
}
