.card-subtitle {
  color: grey;
  margin-bottom: 15px !important;
  margin-top: 15px !important;
  font-size: 85% !important;
}

.bio-card {
  height: 100% !important;
}

.bio-card:hover {
  transform: scale(1.03);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
    0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
    0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
  outline: hsla(240, 30.1%, 28%, 0.12);
}

.bio-card-text {
  font-size: 90% !important;
}

.tool-card:hover {
  transform: scale(1.03);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
    0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
    0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
  outline: hsla(240, 30.1%, 28%, 0.12);
}

.tool-card {
  height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
}

.repo-card {
  font-size: 150% !important;
}

a:hover,
a:visited,
a:link,
a:active {
  color: black;
  text-decoration: none !important;
  background-color: none !important;
}

.aboutInfo > * {
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}

.aboutInfo > h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  align-content: center;
}

.aboutInfo > p {
  width: 90%;
  margin-left: 50px;
}
