.cong-card:hover {
  transform: scale(1.03);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
    0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
    0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
  outline: hsla(240, 30.1%, 28%, 0.12);
}

.cong-card-dem {
  background: linear-gradient(#ffffff00, #81a9ff93);
}

.cong-card-rep {
  background: linear-gradient(#ffffff00, #ff838386);
}

.cong-card-title {
  color: white;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* position: absolute;
    background-color: aqua; */
}

.cong-card-sub {
  color: rgb(235, 235, 235) !important;
}
