.data-control-bar {
  background-color: rgba(0, 0, 0, 0.034);
  color: black;
  box-shadow: rgba(0, 0, 0, 0.233) 0px 5px 15px;
  padding: 0.75rem;
}

.search-bar {
  padding: 0.5rem 1rem;
}

#clear-filters-btn {
  padding: 0;
}

.filter-sort-row {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  align-items: flex-start;
  gap: 10%;
}

.filters {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 0.4rem;
  text-align: center;
  flex-wrap: wrap;
}
