.title {
  color: rgb(230, 227, 227);
  font-weight: 300;
  font-size: 40px;
  text-align: center;
}

.heading {
  color: rgb(35, 38, 39);
  font-weight: 300;
  font-size: 40px;
  text-align: center;
}
