.model-page {
  /* background-color: aliceblue; */
}

mark {
  padding: 0 !important;
  color: rgb(28, 28, 28) !important;
  background-color: rgb(255, 229, 153) !important;
}

.model-page-title {
  text-align: center;
  font-size: 3em;
  margin: 1rem;
}

.data-control-bar {
  margin-bottom: 2rem;
}

.model-page-card-container {
  background-color: rgba(0, 0, 0, 0.034);
  color: black;
  box-shadow: rgba(0, 0, 0, 0.233) 0px 5px 15px;
  white-space: pre-wrap;
}

.model-pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0.75rem;
  flex-wrap: wrap;
}

#per-page-dropdown {
  padding: 0;
}

.page-control {
  justify-content: center;
}

.model-showing {
  text-align: right;
  margin: 0;
  white-space: nowrap;
}
