.cong-inst {
  padding-top: 18em;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.cong-row {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cong-box {
  padding: 0.7em;
  color: rgb(243, 243, 243);
  background-color: rgba(33, 37, 41, 0.9);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 50px;
  overflow-x: auto;
  font-size: 16pt;
}

.cong-link {
  color: SkyBlue !important;
}
.cong-link:hover {
  color: rgb(255, 255, 255) !important;
}

.cong-textbox-row {
  display: flex;
  gap: 0.5em;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}

.cong-textbox {
  margin: 0;
  flex: 1 0 12em;
  white-space: nowrap;
}

.cong-name {
  font-size: 3em;
  color: aliceblue;
  text-shadow: 0px 3px 8px #000000;
}

.cong-geninfo-title {
  padding-top: 0.5em;
}
